.services {
	padding: 150px 100px;
	background-color: var(--primary-color-500);
}

@media (max-width: 768px) {
	.services {
		padding: 80px 0px;
	}
}

.services__title_wrapper {
	padding-bottom: 80px;
}

@media (max-width: 768px) {
	.services__title_wrapper {
		padding-bottom: 40px;
	}
}

.services__title {
	padding-top: 24px;
}

.services__heading_wrapper {
	padding-bottom: 60px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.services .two {
	padding-top: 100px;
}

.services__wrapper {
	display: flex;
	gap: 20px;
}

@media (max-width: 768px) {
	.services__wrapper {
		flex-direction: column;
	}
}

.services__card {
	flex: 1;
	padding: 40px 20px;
	background-color: white;
	border: solid 2px black;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	box-shadow: 5px 6px 0px 0px #000000;
}

.services__innerwrapper {
	display: flex;
	align-items: center;
	gap: 16px;
}

.services .yellowword {
	background: linear-gradient(to right, #FFD037 90.6%, transparent 90%);
	display: inline-block;
}

.services .purpleword {
	background: linear-gradient(to right, #7B5FF1 92.6%, transparent 90%);
	display: inline-block;
}

.services__list-item {
	font-size: 1rem;
	padding-bottom: 6px;
}

.steps {
	padding: 150px 100px;
	background-color: #FFE387;
}

@media (max-width: 768px) {
	.steps {
		padding: 80px 0px;
	}
}

.steps .accordion {
	padding-top: 80px;
}

@media (max-width: 768px) {
	.steps .accordion {
		padding-top: 40px;
	}
}

.steps .accordion-item {
	border: 0;
}

.steps .accordion-item .accordion-button.collapsed {
	padding: 40px 60px 40px 30px;
	background-color: #FFE387;
	border: 2px solid;
	border-bottom: 0;
	transition: padding-left 0.5s ease-in-out;
	font-size: 1.225rem;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

.steps .accordion-item:last-of-type .accordion-button.collapsed {
	border-bottom: 2px solid;
}

.steps .accordion-item .accordion-button.collapsed:hover {
	background-color: #FFF;
	transition: all 0.5s ease-in-out;
	padding-left: 60px;
}

.steps .accordion-button:not(.collapsed) {
	background-color: #FFF;
	box-shadow: unset;
	padding: 60px 60px 0px 60px;
	font-size: 64px;
	font-weight: 700;
	color: black;
}

@media (max-width: 768px) {
	.steps .accordion-button:not(.collapsed) {
		font-size: 2rem;
		padding: 30px 30px 0px 30px;
	}
}

.steps .accordion-button:not(.collapsed) .step-number {
	color: var(--primary-color-500);
	padding-right: 10px;
}

.steps .accordion-body {
	padding: 34px 60px 60px 60px;
	background-color: #FFF;
}

@media (max-width: 768px) {
	.steps .accordion-body {
		padding: 20px 30px 30px 30px;
	}
}

.steps__deliverableswrapper {
	display: flex;
	gap: 16px;
	flex-direction: column;
	padding-top: 24px;
}

.steps__deliverableswrapper .steps_deliverables {
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: var(--primary-color-500);
	text-transform: uppercase;
}

.steps .steps_iconwrapper {
	display: flex;
	align-items: center;
	gap: 16px;
	padding-bottom: 16px;
	padding-top: 30px;
}

.steps .accordion-button:focus {
	box-shadow: unset;
}

.steps .accordion-button::after {
	display: none;
}

.steps .step-number {
	padding-right: 5px;
}

.steps__title {
	padding-top: 24px;
}

.page-template-projects .hero__content {
	width: 60%;
	flex: unset;
}

@media (max-width: 768px) {
	.page-template-projects .hero__content {
		width: 100%;
	}
}

.page-template-projects .hero {
	padding: 80px 0px 150px 0px;
}

.page-template-projects .projects {
	padding: 0px 0px 150px 0px;
}

.page-template-projects .nav-tabs {
	border: 0;
	margin-left: 0;
	display: flex;
	gap: 24px;
	--bs-nav-tabs-border-width: 0;
}

@media (max-width: 768px) {
	.page-template-projects .nav-tabs {
		flex-direction: column;
	}
}

.page-template-projects .nav-tabs .nav-item.show .nav-link,
.page-template-projects .nav-tabs .nav-link {
	padding: 10px 30px;
	border-radius: 8px;
	color: black;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
	border: 2px solid black;
	box-shadow: 5px 6px 0px 0px #000000;
}

.page-template-projects .nav-tabs .nav-item.show .nav-link,
.page-template-projects .nav-tabs .nav-link:hover {
	box-shadow: 10px 12px 0px 0px #000000;
}

.page-template-projects a#all-projects-tab.active {
	background-color: #99E3B7;
}

.page-template-projects a#mobile-apps-tab.active {
	background-color: #FFE387;
}

.page-template-projects a#e-commerce-websites-tab.active {
	background-color: #B09FF7;
}

.page-template-projects a#wordpress-websites-tab.active {
	background-color: #FFB987;
}

.page-template-projects .projects__images-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
	width: 100%;
}

@media (max-width: 768px) {
	.page-template-projects .projects__images-wrapper {
		grid-template-columns: 1fr;
	}
}

.page-template-projects .projects__image-item:nth-child(2) {
	margin-top: 0px;
}

.page-template-projects .projects__image-item {
	background-position-y: 50px;
	box-shadow: 5px 6px 0px 0px #000000;
}

.page-template-projects .projects__image-item:hover {
	box-shadow: 10px 12px 0px 0px #000000;
}

.page-template-projects button#load-more-projects {
	margin: 100px auto 0 auto;
}

.page-template-projects .projects__tags {
	position: relative;
	background-color: unset;
	color: black;
	max-width: 505px;
	display: inline-block;
	font-family: var(--primary-font);
	font-size: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: left;
	padding: 0;
	top: 32px;
	margin-bottom: 100px;
}

@media (max-width: 768px) {
	.page-template-projects .projects__tags {
		margin-bottom: 50px;
	}
}

.page-template-projects .projects__tag {
	font-weight: 700;
}

.page-template-projects .project__image__wrapper {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.single-services .purpleword {
	background: linear-gradient(to right, #7B5FF1 92.6%, transparent 90%);
	display: inline-block;
}

.single-services .services {
	padding: 150px 100px;
	background-color: white;
}

.single-services .projects {
	background-color: #FFB987;
}

.single-services .projects__image-item {
	background-position-y: unset;
}

.numbers {
	padding: 150px 100px;
	background-color: #B09FF7;
}

.numbers__wrapper {
	padding-top: 80px;
	display: flex;
	gap: 60px;
}

.numbers__card {
	display: flex;
	flex-direction: column;
	gap: 60px;
	flex: 1;
}

.numbers__card-title {
	font-family: 'Plus Jakarta Sans+', sans-serif;
	font-size: 150px;
	font-style: italic;
	letter-spacing: 0.01em;
	color: #FFB987;
	text-align: center;
	-webkit-text-stroke: 4px black;
}

.numbers__count {
	text-align: center;
}

.numbers__title_wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.ourServices {
	padding: 150px 100px;
	background-color: #99E3B7;
}

.ourServices__title_wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 80px;
}

.ourServices__contentwrapper {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 40px;
}

.ourServices__content {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.ourServices__content h3 {
	font-size: 34px;
}

.ourServices__wrapper {
	display: flex;
	gap: 24px;
}

.ourServices__card {
	background-color: white;
	padding: 40px;
	border: 2px solid black;
}

/*# sourceMappingURL=services.css.map */