.services {
    padding: 150px 100px;
    background-color: var(--primary-color-500);

    @media (max-width: 768px) {
        padding: 80px 0px;
    }

    &__title_wrapper {
        padding-bottom: 80px;

        @media (max-width: 768px) {
            padding-bottom: 40px;
        }

    }

    &__title {
        padding-top: 24px;
    }

    &__heading_wrapper {
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .two {
        padding-top: 100px;
    }

    &__wrapper {
        display: flex;
        gap: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__card {
        flex: 1;
        padding: 40px 20px;
        background-color: white;
        border: solid 2px black;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        box-shadow: 5px 6px 0px 0px #000000;

    }

    &__innerwrapper {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .yellowword {
        background: linear-gradient(to right, #FFD037 90.6%, transparent 90%);
        display: inline-block;
    }

    .purpleword {
        background: linear-gradient(to right, #7B5FF1 92.6%, transparent 90%);
        display: inline-block;
    }

    &__list-item {
        font-size: 1rem;
        padding-bottom: 6px;
    }
}

.steps {
    padding: 150px 100px;
    background-color: #E3E3FF;

    @media (max-width: 768px) {
        padding: 80px 0px;
    }

    .accordion {
        padding-top: 80px;

        @media (max-width: 768px) {
            padding-top: 40px;
        }
    }

    .accordion-item .accordion-button.collapsed {
        padding: 40px 60px 40px 30px;
        background-color: #e3e3ff;
        border: 2px solid;
        border-bottom: 0;
        transition: padding-left 0.5s ease-in-out;
        font-size: 1.225rem;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .accordion-item:last-of-type .accordion-button.collapsed {
        border-bottom: 2px solid;
    }

    .accordion-item .accordion-button.collapsed:hover {
        background-color: #FFE2DC;
        transition: all 0.5s ease-in-out;
        padding-left: 60px;
    }

    .accordion-button:not(.collapsed) {
        background-color: #FFE2DC;
        box-shadow: unset;
        padding: 60px 60px 0px 60px;
        font-size: 64px;
        font-weight: 700;
        color: black;

        @media (max-width: 768px) {
            font-size: 2rem;
            padding: 30px 30px 0px 30px;
        }

        .step-number {
            color: var(--primary-color-500);
            padding-right: 10px;
        }
    }

    .accordion-body {
        padding: 34px 60px 60px 60px;
        background-color: #FFE2DC;

        @media (max-width: 768px) {
            padding: 20px 30px 30px 30px;
        }
    }

    &__deliverableswrapper {
        display: flex;
        gap: 16px;
        flex-direction: column;
        padding-top: 24px;

        .steps_deliverables {
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 12px;
            font-weight: 700;
            color: var(--primary-color-500);
            text-transform: uppercase;
        }
    }

    .steps_iconwrapper {
        display: flex;
        align-items: center;
        gap: 16px;
        padding-bottom: 16px;
        padding-top: 30px;
    }

    .accordion-button:focus {
        box-shadow: unset;
    }

    .accordion-button::after {
        display: none;
    }

    .step-number {
        padding-right: 5px;
    }

    &__title {
        padding-top: 24px;
    }
}



////////////////////////////////////////
/// Projects
.page-template-projects {
    .hero__content {
        width: 60%;
        flex: unset;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .hero {
        padding: 80px 0px 150px 0px;
    }

    .projects {
        padding: 0px 0px 150px 0px;
    }

    .nav-tabs {
        border: 0;
        margin-left: 0;
        display: flex;
        gap: 24px;
        --bs-nav-tabs-border-width: 0;


        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link {
        padding: 10px 30px;
        border-radius: 8px;
        color: black;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        border: 2px solid black;
    }

    a#all-projects-tab.active {
        background-color: #55D087;
    }

    a#mobile-apps-tab.active {
        background-color: #FF8B37;
    }

    a#e-commerce-websites-tab.active {
        background-color: #7B5FF1;
    }

    a#wordpress-websites-tab.active {
        background-color: #FFD037;
    }

    .projects__images-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        width: 100%;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    .projects__image-item:nth-child(2) {
        margin-top: 0px;
    }

    .projects__image-item {

        background-position-y: 50px;
        box-shadow: 5px 6px 0px 0px #000000;
    }

    .projects__image-item:hover {
        box-shadow: 10px 12px 0px 0px #000000;
    }

    button#load-more-projects {
        margin: 100px auto 0 auto;
    }

    .projects__tags {
        position: relative;
        background-color: unset;
        color: black;
        max-width: 505px;
        display: inline-block;
        font-family: var(--primary-font);
        font-size: 20px;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: left;
        padding: 0;
        top: 32px;
        margin-bottom: 100px;

        @media (max-width: 768px) {
            margin-bottom: 50px;
        }

    }

    .projects__tag {
        font-weight: 700;
    }

    .project__image__wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}